.log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    /* Add transition for smooth effect */
    /* Add shadow for 3D effect */
    border-radius: var(--border-radius);
    /* Add border radius for rounded corners */
    margin-bottom: 1rem;
}

.log:hover {
    transform: scale(1.05);
    cursor: pointer;
}