td {
  width: fit-content;
  text-align: left;
  align-self: left;
  white-space: nowrap;
}

@keyframes changeHighlight {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: green;
  }
}

.changed-block {
  animation: changeHighlight 1s forwards;
  background-color: transparent;
}

table:hover .changed-block{
  background-color: green;
}