/* Tlb table */
.cache-visual-table {
    border-collapse: collapse;
}

.cache-visual-table th,
.cache-visual-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid rgb(177, 177, 177);
    border-right: 1px solid rgb(177, 177, 177);
}

.cache-visual-table td:first-child {
  width: 150px !important; /* adjust this value as needed */
}
.cache-visual-table td {
  width: 620px !important;
  overflow: auto; /* add a scrollbar if the content overflows */
}


.cache-visual-table th:last-child,
.cache-visual-table td:last-child {
    border-right: none !important;
}

.cache-visual-table th:first-child{
    border-left: none;
}

.cache-visual-table th:nth-child(3n+1),
.cache-visual-table td:nth-child(3n+1) {
    border-right: 1px solid rgb(177, 177, 177);
}

.changed-block {
  animation: changeHighlight 1s forwards;
  background-color: transparent;
}

table:hover .changed-block{
  background-color: green;
}

@keyframes changeHighlight {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: green;
  }
}

