#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logContainer {
  max-width: 4em;
  height: 100%;
  border-color: 1px solid black;
}


.input-buttons {
  display: flex;
  justify-content: space-evenly;
}


.input-table {
  border: 1px white solid;
  /* min-width: 70em; */
  padding: 2em;
  margin: 2em;
  width: 100%
    /* height: 40em; */
}

.input-wrapper {
  margin: 0;
  padding: .4em;
}

.vbit-input,
.pbit-input {
  width: 2em;
  height: 2em;
  border: solid white .1em;
  user-select: none;
  font-size: 16px;
}

.input-text {
  margin: 0;
}

.list-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  width: 100%;
  white-space: nowrap;
}

.list-item-bit-input-wrapper {
  display: flex;
}

.virtual-wrapper {
  padding: 1em;
  margin: 5em;
}

.table th {
  border-bottom: 1px solid white;
  padding: .5em;
  font-size: 16px;
}

tr td input {
  font-size: 16px;
}

.highlight {
  background-color: rgb(118, 118, 31);
}

.correct {
  border-color: rgb(21, 190, 21);
}

.input-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.insert-facit-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  margin-left: .5em;
  transition: border-color 0.25s;
}

.insert-facit-btn:hover {
  border-color: rgb(21, 190, 21);
}

.insert-facit-btn:hover:hover:focus,
.insert-facit-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.list-item-wrapper>p {
  margin-right: 1em;
}

.exercise-label:hover {
  background-color: rgb(126, 126, 125);
}

.reset-color-btn {
  background-color: rgb(37, 66, 231);
  border: 1px solid rgb(128, 22, 138);
  border-radius: 5px;
  padding: .5em;
  font-size: 16px;
  margin: .5em;
}

.reset-color-btn:hover {
  background-color: rgb(70, 86, 175);
  border-color: rgb(25, 154, 111);
}

.reset-color-btn:hover:hover:hover:focus,
.reset-color-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.reset-input-btn {
  background-color: rgb(175, 110, 70);
  border: 1px solid rgb(128, 22, 138);
  border-radius: 5px;
  padding: .5em;
  font-size: 16px;
  margin: .5em;
}

.reset-input-btn:hover {
  background-color: rgb(252, 184, 131);
  border-color: rgb(25, 111, 154);
}

.reset-input-btn:hover:hover:hover:focus,
.reset-input-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-input;
}


#vbit-index,
#pbit-index {
  user-select: none;
  border: 1px solid transparent;
}

#vbit-index:hover,
#pbit-index:hover {
  border-color: rgb(142, 142, 142);
}


#vbit:hover,
#pbit:hover {
  background-color: rgb(126, 126, 125);
}