#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logContainer {
  max-width: 4em;
  height: 100%;
  border-color: 1px solid black;
}


.input-buttons {
  display: flex;
  justify-content: space-evenly;
}


.input-table {
  border: 1px white solid;
  /* min-width: 70em; */
  padding: 2em;
  margin: 2em;
  width: 100%
    /* height: 40em; */
}

.input-wrapper {
  margin: 0;
  padding: .4em;
}

.vbit-input,
.pbit-input {
  width: 2em;
  height: 2em;
  border: solid white .1em;
  user-select: none;
  font-size: 16px;
}

.input-text {
  margin: 0;
}

.virtual-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px; /* adjust this value to increase or decrease the space */
}

.list-item-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 10px; /* adjust this value to increase or decrease the space between buttons */
}

.list-item-bit-input-wrapper {
  display: flex;
}

.table th {
  border-bottom: 1px solid white;
  padding: .5em;
  font-size: 16px;
}

tr td input {
  font-size: 16px;
}

.highlight {
  background-color: rgb(118, 118, 31);
}

.correct {
  border-color: rgb(21, 190, 21);
}

.input-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#vbit-index,
#pbit-index {
  user-select: none;
  border: 1px solid transparent;
}

#vbit-index:hover,
#pbit-index:hover {
  border-color: rgb(142, 142, 142);
}


#vbit:hover,
#pbit:hover {
  background-color: rgb(126, 126, 125);
}